.App {
  font-family: sans-serif;
  text-align: center;
}
.NombreAPP {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.Button_inicioPP {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
}
.Button_inicioPPR {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
}
.franja {
  text-align: center;
}

.TexCabeza {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.problema {
  font-family: "Times New Roman", Times, serif;
  margin: 6px;
}

.Texto1 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 6px;
}
.vision {
  font-family: "Times New Roman", Times, serif;
  margin: 6px;
}

.Texto2 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 6px;
}

.fr {
  background: #3f51b5;
}

.redSocial {
  text-align: right;
}
.facebook {
  margin: 4px;
  color: #fafbfc;
}

.instagram {
  margin: 4px;
  color: #fafbfc;
}

.twitter {
  margin: 6px;
  color: #ffffff;
}

.inicioPP2 {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  margin: 6px;
  color: #fafbfc;
}
.inicioPP1 {
  font-family: "Times New Roman", Times, serif;
  color: #ffc107;
}
.inicioPP3 {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  margin: 6px;
  color: #dde0de;
}
