.App {
  font-family: sans-serif;
  text-align: center;
}

.neider {
  float: rigt;
}
.TexCabeza {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.problema {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
