.App {
  font-family: sans-serif;
  text-align: center;
}
.franjaPP {
  width: px;
  height: 50px;
  background: #303f9f;
}
.NombreAPP {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.Button_inicioPP {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
}
.Button_inicioPPR {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
}

.logoHE {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.franja {
  text-align: center;
  width: ;
}

.TexCabeza {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6px;
}

.problema {
  font-family: "Times New Roman", Times, serif;
  margin: 6px;
}

.Texto1 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 6px;
}
.vision {
  font-family: "Times New Roman", Times, serif;
  margin: 6px;
}

.Texto2 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 6px;
}

.fr {
  background: #303f9f;
}

.redSocial {
  text-align: center;
}
.facebook {
  margin: 4px;
  color: #fafbfc;
}

.instagram {
  margin: 4px;
  color: #fafbfc;
}

.twitter {
  margin: 6px;
  color: #ffffff;
}

.logoFU {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  
}

.inicioPP2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6px;
  color: #ffffff;
}

.inicioPP3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6px;
  color: #ffffff;
}
