.App {
  font-family: sans-serif;
  text-align: center;
}
.franjaPP {
  width: px;
  height: 100px;
  background: #fbc02d;
}
.NombreAPP {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.Button_inicioPP {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}
.Button_inicioPPR {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.logoHE {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.Botones {
  color: rgb(0, 0, 0);
}

.franja {
  text-align: center;
}

.TexCabeza {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 6px;
}

.problema {
  font-family: "Times New Roman", Times, serif;
  margin: 7px;
}

.recibo {
  width: 180px;
  height: 140px;
  display: block;
  margin: auto;
}

.Texto1 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 7px;
}
.vision {
  font-family: "Times New Roman", Times, serif;
  margin: 7px;
}

.Texto2 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 7px;
}

.bombillo {
  width: 180px;
  height: 150px;
  display: block;
  margin: auto;
}

.fr {
  background: #fbc02d;
}

.redSocial {
  text-align: center;
}
.facebook {
  margin: 4px;
  color: #fafbfc;
}

.instagram {
  margin: 4px;
  color: #fafbfc;
}

.twitter {
  margin: 6px;
  color: #ffffff;
}

.logoFU {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.inicioPP2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 7px;
  color: #ffffff;
}

.inicioPP3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 7px;
  color: #ffffff;
}

/* INFORMACION */

.BInformacion {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

/* INICIAR SESIÓN */

.CIni {
  text-align: center;
  height: 50px;
  background: #fbc02d;
}

.volver {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.ayuda {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.iniseM {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 50px;
}

/* REGISTRARSE */

.DI {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 50px;
}

.Boton_inicio {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.BRegistro {
  background: #fbc02d;
  text-align: center;
}

/* AYUDAIR */

.AyudaIR {
  text-align: center;
}

.ButtonAyuda {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

/* Pagina Principal */

.PaginPin {
  margin: 6px;
}

.AligTex {
  text-align: center;
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.DesplegablePP {
  margin: 10px;
  width: 300px;
}

.CampoTex {
  width: 50;
  right: 50;
  text-align: center;
}

.cerrarS {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

/* FormularioP1 */

.PP {
  text-align: center;
}

.forcenter {
  text-align: center;
}

.FormularioPart1 {
  margin: 8px;
}

.Siguiente {
  margin: 6px;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #dde0de;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.SeleccionFormulario {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0px;
  border: 2px solid #000000;
  margin: 6px;
}

.FormuText {
  text-align: justify;
  margin: 7px;
}

.Nomcomlete {
  width: 300px;
}

/* FORMULARIO2 */

.Hogar {
  text-align: center;
}

/* AYUDA */

.SoyNuevo {
  margin: 8px;
  text-align: justify;
}

.jp {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
  text-align: justify;
}

.NuevoPagH2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.Res {
  text-align: center;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.Button_RecuHis {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #e4e4e4;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.RecuHH1 {
  font-family: "Times New Roman", Times, serif;
}

.noterr {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 8px;
}

.Recu1 {
  width: 350px;
  border-radius: 6px;
  border: 2px solid #000000;
}

.posterr {
  width: 350px;
  border-radius: 6px;
  border: 2px solid #000000;
}

.Button_Noti {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #e4e4e4;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.noteRR {
  text-align: center;
}

.render {
  text-align: center;
  margin: 6px;
}

.BTNPP {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 8px;
  text-align: center;
}

.btn-secondary {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  margin: 6px;
}

.EditLista {
  text-align: center;
}

.EF {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 8px;
}

.TEXTOCEVT {
  text-align: justify;
  margin: 8px;
}

.CAPINELEC {
  margin: 8px;
}

.GA {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.BTNCEN {
  text-align: center;
}

.contenedor {
  text-align: center;
  margin: 8px;
}

.conmesmm {
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 6px;
}

.BNTN {
  text-align: center;
}
